/* media queries for mobile phones etc */
@media only screen and (max-width: 480px) {
  .touch-action {
    /* padding: 0.5em 0; */
  }
  
  #album-results img.album-cover-art {
    vertical-align: middle;
    margin-right: 0.6em;
  }
  
  button#artist-search-go {
    display: none;
  }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  
  color: #080808;
  background-color: #f8fcff;
  
  font-family: sans-serif;
}

#search-bar {
  width: 100%;
  height: 3em;
  
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: stretch;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 1em;
}

#search-bar button, #search-bar input, #search-bar select {
  font-family: inherit;
  font-size: 90%;
}

#artist-search-form {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-between;
  -webkit-align-items: stretch;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  
  width: 100%;
}

#artist-search-field {
  -webkit-flex-direction: row;
  -webkit-flex: 1 1;
  flex-direction: row;
  flex: 1 1;
}

#artist-search-go {
  margin-left: 0.5em;
}

#search-res {
  width: 100%;
  height: -moz-calc(100% - 3em);
  height: -webkit-calc(100% - 3em);
  height: calc(100% - 3em);
  
  overflow: auto;
  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  padding-top: 0;
}

#artist-results ul, #album-results ul {
  list-style: none;
  
  margin: 0;
  padding: 0;
}

#artist-results ul li {
  padding: 0.1em 0;
}

#album-results ul li {
  padding: 0.5em 0;
}

#album-results .album-open-button {
  cursor: help;
}

#album-results img.album-cover-art {
  vertical-align: middle;
  margin-right: 0.8em;
}

#album-results .album-open-button:hover,#album-results .album-open-button:active {
  background-color: #cedeff;
}
